# Unrelated files
Geometry Assignment Sep 13, 2025 square.ggb
Geometry Assignment Sep 13, 2025.ggb
sciencevsmagic_local_storage.json
# This file is already incorporated
sciencevsmagic_local_storage_fetcher.js

# Ask Nico Disseldorp for upload permission
ANCIENT GREEK GEOMETRY.html
ANCIENT GREEK GEOMETRY_files/style.css
ANCIENT GREEK GEOMETRY_files/touch.js.download
ANCIENT GREEK GEOMETRY_files/plwik.js.download
ANCIENT GREEK GEOMETRY_files/saved_resource.html
ANCIENT GREEK GEOMETRY_files/init.js.download
ANCIENT GREEK GEOMETRY_files/fittoscreen.js.download
ANCIENT GREEK GEOMETRY_files/geo.js.download
ANCIENT GREEK GEOMETRY_files/modules.js.download
ANCIENT GREEK GEOMETRY_files/mouse.js.download
ANCIENT GREEK GEOMETRY_files/sidebartoggle.js.download
ANCIENT GREEK GEOMETRY_files/test.js.download

# I screwed up init git
# ./Ancient-Greek-Geometry-Logger

.continue